body {
    background-color: #1a8cff !important;
}

.col-sm-4,
.col-sm-8 {
    background-color: aliceblue;
}

.welkom {
    border-right: solid 2px #d9d9d9;
}

.news_container {
    height: 500px;
}

.news_object {
    border-bottom: silver 1px solid;
}

.col-sm-4.news_container {
    height: 420px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

address {
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;
}